
<body>
<app-inicio></app-inicio>
<h1 class="ganador" *ngIf="this.gameS.winner" >Enhorabuena equipo {{this.gameS.winner}}</h1>
<app-bar></app-bar>
<button *ngIf="!this.gameS.isGameStarted" type="button" class="btn btn-secondary btn-lg btn-block" (click)="this.startGame()">Iniciar Juego</button>
<div class="juego">
  <h1 *ngIf="!this.gameS.isGameStartedRed && !this.gameS.isGameStartedBlue && this.gameS.isGameStarted">Elija su equipo</h1>
  <div class="BotonElijeAzul">
<button *ngIf="!this.gameS.isGameStartedRed && !this.gameS.isGameStartedBlue && this.gameS.isGameStarted"  (click)="this.startGameBlue()">Equipo Azul</button>
</div>
<div class="BotonElijeRojo">
<button *ngIf="!this.gameS.isGameStartedRed && !this.gameS.isGameStartedBlue && this.gameS.isGameStarted"   (click)="this.startGameRed()">Equipo Rojo</button>
</div>
<div class="BotonRojo">
  <h1 *ngIf="this.gameS.isGameStartedRed && !this.gameS.isGameStartedBlue && this.gameS.isGameStarted">Anima al equipo Rojo</h1>
<button   class="btn btn-danger" *ngIf="this.gameS.isGameStartedRed" (click)="Red()">Dale equipo Rojo!!!!
  <span class="badge badge-light">{{this.gameS.redPoints}}</span>
</button>
</div>
<div class="BotonAzul">
  <h1 *ngIf="!this.gameS.isGameStartedRed && this.gameS.isGameStartedBlue && this.gameS.isGameStarted">Anima al equipo Azul</h1>
<button class="btn btn-info" *ngIf="this.gameS.isGameStartedBlue" (click)="Blue()">Dale equipo Azul!!!!
  <span class="badge badge-light">{{this.gameS.bluePoints}}</span>
</button>
</div>


</div>
</body>